{% extends "layout.html" %} 

{% block content %}

<header class="navigation">
    <nav class="navi"> 
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M11 17h6l-4 -5l4 -5h-6l-4 5z" />
          </svg>
        </a>
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M13 7h-6l4 5l-4 5h6l4 -5z" />
          </svg>
        </a>
        
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-text-size" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 7v-2h13v2" />
            <path d="M10 5v14" />
            <path d="M12 19h-4" />
            <path d="M15 13v-1h6v1" />
            <path d="M18 12v7" />
            <path d="M17 19h2" />
          </svg>
          </a>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M15 8h.01" />
              <path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" />
              <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" />
              <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" />
            </svg>
          </a>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
              <path d="M7 11l5 5l5 -5" />
              <path d="M12 4l0 12" />
            </svg>
          </a>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bold" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 5h6a3.5 3.5 0 0 1 0 7h-6z" />
              <path d="M13 12h1a3.5 3.5 0 0 1 0 7h-7v-7" />
            </svg>
          </a>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-underline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 5v5a5 5 0 0 0 10 0v-5" />
              <path d="M5 19h14" />
            </svg>
          </a>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 15l6 -6" />
              <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
              <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
            </svg>
          </a>
      
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 6l11 0" />
              <path d="M9 12l11 0" />
              <path d="M9 18l11 0" />
              <path d="M5 6l0 .01" />
              <path d="M5 12l0 .01" />
              <path d="M5 18l0 .01" />
            </svg>
          </a>
      
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
              <path d="M3 10h18" />
              <path d="M10 3v18" />
            </svg>
          </a>
        </nav>
</header>

    <!-- Cuadro de inicio -->
    <div class="cuerpo" id="DivExportar">
        <section class="inicio">
            <div class="imageLibre">
                
            </div>
            <div class="titulo">
                <p>FORMATO MICROCURRICULO</p>
            </div>
            <div class="documento">
                <p>ST-DOC-01-E-01-F01</p>
            </div>
            <div class="version">
                <p>Versión 2</p>
            </div>
            <div class="fecha" id="date">
                
            </div>
        </section>

        <!-- Facultad del syllabus y el programa -->
        <section class="facultad-programa">
            <div class="facultad">
                <p>FACULTAD DE <span id="Facultad"></span></p>
            </div>
            <div class="programa">
                <p>PROGRAMA DE <span id="Programa"></span></p>
            </div>
        </section>

        <!-- Ciclo -->
        <section class="ciclo">
            <div class="tipoCiclo">
                <p>CICLO:    <span id="ciclo"></span></p>
            </div>
            <div class="componenteCiclo">
                <p>COMPONENTE: PROFESIONAL</p>
            </div>
        </section>

        <!-- Identificación -->
        <section class="identificacion" id="identification">
            <div class="tIdentificacion">
                <p>II.     IDENTIFICACIÓN</p>
            </div>
            <div class="cuadroIdentificacion">
                <!-- fila nombre asignatura -->
                <div class="filaNombreAsignatura">
                    <div class="tNombreAsignatura">
                        <p>NOMBRE ASIGNATURA O MODULO</p>
                    </div>
                    <div class="NombreAsignatura" id="nameAsignatura">
                        
                    </div>
                </div>
                <!-- fila codigo asignatura -->
                <div class="filaCodigoAsignatura">
                    <div class="tCodigo">
                        <p>CÓDIGO</p>
                    </div>
                    <div class="CodigoAsignatura" id="codeAsignatura">
                        
                    </div>
                </div>
                <!-- fila semestre de la asignatura -->
                <div class="filaSemestreAsignatura">
                    <div class="tSemestre">
                        <p>SEMESTRE</p>
                    </div>
                    <div class="SemestreAsignatura" id="semesterAsignatura">
                        
                    </div>
                </div>
                <!-- fila creditos academicos -->
                <div class="filaCreditosAcademicos">
                    <div class="tCreditos">
                        <p>Nº DE CRÉDITOS ACADÉMICOS</p>
                    </div>
                    <div class="creditosAcademicos" id="creditsAcademicos">
                        
                    </div>
                </div>
                <!-- fila modalidad asignatura -->
                <div class="filaModalidadAsignatura">
                    <div class="tModalidad">
                        <p>MODALIDAD*</p>
                    </div>
                    <!-- campo de las modalidades -->
                    <div class="tipoModalidades">
                        <div class="filaModalidadPresencial">

                            <div class="modalidadPresencial">
                                <P>Presencial</P>
                            </div>

                            <div class="campoModalidadPresencial" id="idModalidadPresencial">
                                
                            </div>
                        </div>

                        <div class="filaModalidadTIC">
                            <div class="modalidadTIC">
                                <p>Presencial asistida por TIC</p>
                            </div>

                            <div class="campoTIC" id="idModalidadTIC">
                                
                            </div>
                        </div>

                        <div class="filaModalidadVirtual">
                            <div class="modalidadVirtual">
                                <p>Virtual</p>
                            </div>
                            <div class="campoVirtual" id="idModalidadVirtual">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <!--  fila tipo de asignatura -->

                <div class="filaTipoAsignatura">
                    <div class="tTipoAsignatura">
                        <p>TIPO DE ASIGNATURA*</p>
                    </div>
                    <!-- campo de los tipos de asigntura -->
                    <div class="tipoAsignaturas">
                        <div class="filaAsignaturaTeorica">
                            <div class="tTeorica">
                                <p>Teórica</p>
                            </div>
                            <div class="campoTeorica" id="idAsignaturaTeorica">
                                
                            </div>
                        </div>
                        <div class="filaAsignaturaTeoricoPractica">
                            <div class="tTeoricoPractica">
                                <p>Teórico-Práctica</p>
                            </div>
                            <div class="campoTeoricoPractica" id="idAsignaturaTeoricoPractica">
                                
                            </div>
                        </div>
                        <div class="filaAsignaturaPractica">
                            <div class="tPractica">
                                <p>Práctica</p>
                            </div>
                            <div class="campoPractica" id="idAsignaturaPractica">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fila docentes -->
                <div class="filaDocentes">
                    <div class="tDocentes">
                        <p>DOCENTE(S)</p>
                    </div>
                    <div class="campoDocentes" id="idDocentes">

                    </div>
                </div>
                <!-- fila fecha actualización -->
                <div class="filaFechaActualizacion">
                    <div class="tFechaActualizacion">
                        <p>FECHA DE ACTUALIZACIÓN</p>
                    </div>
                    <div class="campoFechaActualizacion" id="dateActualizacion">

                    </div>
                </div>
            </div>
        </section>

        <!-- III Justificación -->
        <section class="justificacion">
            <div class="tJustificacion">
                III. JUSTIFICACIÓN
            </div>
            <div class="campoJustificacion" id="justification">

            </div>
        </section>

        <!-- IV COMPETENCIAS -->
        <section class="competencias">
            <div class="tJustificacion">
                <p>IV. COMPETENCIAS</p>
                <div class="campoCompetencias" id="competences">

                </div>
            </div>
        </section>
        <!-- V resultados de aprendizaje del programa -->
        <section class="aprendizaje">
            <div class="tAprendizaje">
                <p>V. RESULTADOS DE APRENDIZAJE DEL PROGRAMA</p>
            </div>
            <div class="campoAprendizaje" id="learning_results">

            </div>
        </section>

       <!--  VI metodología general -->
       <section class="metodología">
        <div class="tMetodologia">
            <p>VI. METODOLOGÍA GENERAL</p>
        </div>
        <div class="campoMetodologias" id="methodology">

        </div>
       </section>

       <!-- VII. CONTENIDOS PROGRAMÁTICOS VIII. ESTRATEGIAS DE ENSEÑANZA DE APRENDIZAJE -->
       <section class="contenido-estrategias"> 
            <div class="contenidoProgramatico">
                <div class="tContenidoProgramatico">
                    <p>VII. CONTENIDO PROGRAMATICO</p>
                </div>
                <div class="campoContenidoProgramatico" id="program_content">
                    <div class="bloques">

                    </div>
                </div>
            </div>
            <!-- ESTRATEGIAS DE ENSEÑANZA DE APRENDIZAJE -->
            <div class="estrategias">
                <div class="estrategiasDeAprendizaje">
                    <div class="tEstrategias">
                        <p>VIII. ESTRATEGIAS DE ENSEÑANZA-APRENDIZAJE</p>
                    </div>
                    <div class="campoEstrategias" id="strategies">
                        <div class="bloques">

                        </div>
                    </div>
                </div>
            </div>
       </section>

       <!-- EVALUACION -->
       <section class="evaluacion">
            <div class="tEvaluacion">
                <p>IX. EVALUACIÓN</p>
            </div>
            
            <div class="tTablaPorcentaje-Estrategias">
                <div class="tPorcentaje">
                    <p>PORCENTAJE</p>
                </div>
                <div class="tEstrategias">
                    <p>ESTRATEGIAS</p>
                </div>
            </div>

            <div class="porcentaje-estrategias">
                <div class="primerCorte">
                    <div class="tPrimerCorte">
                        <p>1er. (_30_%)</p>
                    </div>
                    <div class="estrategiasPrimerCorte">
                        <div class="bloques" id="firstEvaluation">

                        </div>
                    </div>
                </div>
                <div class="segundoCorte">
                    <div class="tSegundoCorte">
                        <p>2do. (_30_%)</p>
                    </div>
                    <div class="estrategiasSegundoCorte">
                        <div class="bloques" id="secondEvaluation">

                        </div>
                    </div>
                </div>
                <div class="tercerCorte">
                    <div class="tTercerCorte">
                        <p>3ro. (_40_%)</p>
                    </div>
                    <div class="estrategiasTercerCorte">
                        <div class="bloques" id="thirdEvaluation">

                        </div>
                    </div>
                </div>
            </div>

       </section>

       <!-- BIBLIOGRAFÍA -->
       <section class="bibliografia">
            <div class="tBibliografia">
                <p>X. BIBLIOGRAFÍA</p>
            </div>
            <div class="campoBibliografia" id="bibliography">

            </div>
       </section>

       <section class="firmas">
            <div class="docente">
                <p>___________________</p>
                <p>     DOCENTE       </p>
            </div>
            <div class="directorPrograma">
                <p>___________________</p>
                <p>DIRECTOR PROGRAMA</p>
                <p>(Si Aplica)</p>
            </div>
            <div class="decano">
                <p>___________________</p>
                <p>DECANO</p>
            </div>
       </section>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="{{ url_for('static', filename='js/drag.js') }}"></script>

{% endblock %}